.selected-chat {
    width: 65%;
    background-color: aliceblue;
    padding: 20px;
}

.selected-chat .header {
    display: flex;
    align-items: center;
}

.selected-chat .header .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-chat .header .text-container {
    margin-left: 8px;
}

.selected-chat .header .text-container .username {
    font-size: 24px;
}

.selected-chat .msg-input {
    width: 100%;
    display: flex;
}

.selected-chat .msg-input .input-container {
    flex: 1;
}